:root {
    --surface-color: #fff;
  }

  :root{
    font-size: 16px;
    --nav-bar-len: 4rem;
    --extended-nav-bar-len:14rem;
    --text-primary:rgb(100,100,100);
    --text-secundary: rgb(150,150,150);
    --bg-primary: white;
    --bg-secundary: rgb(210,210,210);
    --item-primary: rgb(91, 159, 91);
    --item-secundary: #c29661;
    --curve: 40;
}
  
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    overflow: hidden;
    border-radius: 1.5rem;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    background-color: var(--bg-primary);    
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    border-radius: 1rem;  
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    background-color: var(--bg-primary);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--bg-primary);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: var(--text-primary);
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: var(--text-primary);  
  }
  
  .card__status {
    font-size: .8em;
    color: var(--text-secundary);
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: var(--text-secundary);
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    