html, body {
  background-color: #8CED65;
  background-image: url("../media/imgs/landing4.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/*---Small Screens---*/
@media only screen and (max-width: 768px) {

.mobileApp {
  direction: rtl;
  overflow-x: clip;
  overflow-y: clip;

  width: 790px;


  transform-origin: 70% 45%;
  transform: translate(0, 95vh) rotate(90deg);

}
  
.mobileApp:hover, .mobileApp:active {
  transform: translate(0, 60vh) rotate(90deg); 
  transition: 1s;
}



}

/*---Big Screens---*/
@media only screen and (min-width: 768px) {

 .mobileApp {
    direction: rtl;
    overflow-y: clip;
    overflow-x: clip;

    width: 790px;

    transform-origin: 70% 45%;
    transform: translate(90vh, 0vh);
  }

  .mobileApp:hover {
    transform: translate(35vh, 0vh);
    transition: 1s;
  }

}