@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
  --bg-primary: rgb(245, 245, 245);
  --secundary-bg: rgb(240,240,240);


    --primary-btn-color: rgb(100, 200, 100);
    --primary-btn-color-hover: rgb(100, 170, 100) ;
}

.dark-mode{
  --primary-bg: rgb(30,30,30);
  --secundary-bg: rgb(20,20,20)
}

html{
  overflow: hidden;
}

.invisible{
    opacity: 0;
}

.center {
    top:50%;
    transform: translate(-50%,-50%);
    left: 50%;
}

.center-y{
    top: 50%;
    transform: translateY(-50%);
}

.center-x{
    transform: translateX(-50%);
    left:50%;
}

.center-images{
    margin-left: auto;
    margin-right: auto;
}

.none{
    display: none; /* Hidden */
}

.loader{
    border: 12px solid rgb(230, 230, 230);
    border-top: 12px solid rgb(0,130,200);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    z-index: 3;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }
/* Loader spiner */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*----*/

/* Pulse Spinner */

@keyframes ldio-l8gploe0c9 {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}.ldio-l8gploe0c9 div {
     position: absolute;
     border-width: 4px;
     border-style: solid;
     opacity: 1;
     border-radius: 50%;
     animation: ldio-l8gploe0c9 1s cubic-bezier(0,0.2,0.8,1) infinite;
 }.ldio-l8gploe0c9 div:nth-child(1) {
      border-color: #f1f1f1;
      animation-delay: 0s;
  }
.ldio-l8gploe0c9 div:nth-child(2) {
    border-color: #f1f1f1;
    animation-delay: -0.5s;
}
.loadingio-spinner-ripple-vhyb23pytl {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.ldio-l8gploe0c9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-l8gploe0c9 div { box-sizing: content-box; }

/*----*/

  @keyframes fadeIn {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  

.menu{
    background-color: var(--primary-bg);
    border-radius: 10px;
    border: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.01);
    transition: background-color 200ms linear;
    animation: 200ms ease-out 0s 1 fadeIn;
}

.bg-image{
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-light{
  /*background-image: url("../resources/imgs/blurry-gradient-haikei.svg");*/
}

.bg-dark{
  /*background-image: url("../resources/imgs/dark-blurry-gradient-haikei.png");*/
}

.light{
    background-color: white;
    color: rgb(10, 10, 10);
    transition: background-color 200ms linear;
    transition: color 200ms linear;
}

.bg-normal{
    background-color: rgb(240,240,240);
    transition: background-color 200ms linear;
}

.dark{
    background-color: rgb(30,30,30);
    transition: background-color 200ms linear;
}

.op-dark{
    background-color: rgb(40,40,40);
    color:white;
    border-color: rgb(70,70,70);
    transition: background-color 200ms linear;
    transition: color 200ms linear;
    transition: border-color 200ms linear;
}

.input-dark{
    background-color: rgb(45,45,45);
    color:white;
    border-color: rgb(70,70,70);
    transition: background-color 200ms linear;
    transition: color 200ms linear;
    transition: border-color 200ms linear;
}

.input-dark:focus{
    background-color: rgb(55,55,55);
    color:white;
    border-color: rgb(90,90,90);
    transition: background-color 200ms linear;
    transition: color 200ms linear;
    transition: border-color 200ms linear;
}

.error-msg{
  color: red;
  font-weight: normal;
}

h1,p,label,a{
  font-family: 'Inter', sans-serif;
}

.avatar-wrapper{
  display: block;
  transform-origin: center center;
}

.avatar-wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#edit-profile-btn{
  display: none;
}

#usr_username:hover #edit-profile-btn{
  display: contents;
}

.toast{
  transition: 200ms ease;
}

.dropdown{
  transition: 200ms ease;
}

#no_pending_requests{
  display: none;
}

[data-app-value="0"] #no_pending_requests{
  display:block !important;
}